<div class="container survey-box">
  <div class="row">
    <div class="col-md-6">
      <h3>PESQUISA ENGAGEMENT H1 & SERVIÇOS GERAIS 2025</h3>
      <h2>&nbsp;</h2>

      <p style="font-size: 12px;"><strong>Vigência de 01 de Abril à 30 de Abril de 2025.</strong></p>
      <br>
      <p style="font-size: 12px;">Informe o código de oito dígitos fornecido e clique em "Iniciar Pesquisa"</p>

      <!-- Formulário de pesquisa -->
      <%= form_with url: validate_survey_code_path, method: :post, html: { id: "formPesquisa" } do %>
        <p>
          <%= text_field_tag :code, nil, class: 'simple-form', placeholder: 'Código', autocomplete: 'off', maxlength: 8, style: 'width:138px;', oninput: "this.value = this.value.toUpperCase();" %>
        </p>
        <p>
          <%= submit_tag 'Iniciar Pesquisa »', class: 'btn btn-sucess-geg', id: "lnkPesquisa" %>
        </p>
      <% end %>
      <br>
      <br>
      <br>
      <p style="font-size: 12px;">@ 2025 - Gente e Gestão</p>

      <!-- Mensagem de erro -->
      <% if flash[:error] %>
        <div id="erroCodigo" class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      <% end %>
    </div>
  </div>
</div>
