<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 text-center mx-auto">
      <h3>PESQUISA ENGAGEMENT H1 & PESQUISA SERVIÇOS GERAIS - LOGÍSTICA 2026</h3>
      <h2>&nbsp;</h2>

      <p style="font-size: 12px;"><strong>Vigência de 01 de Abril à 30 de Abril de 2026.</strong></p>
      <br>
      <p style="font-size: 12px;">
        Informe o código de oito dígitos fornecido e clique em "Iniciar Pesquisa".
      </p>

      <!-- Exibe mensagem de erro vinda do controller -->
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <!-- Formulário de pesquisa -->
      <%= form_with url: new_survey_path, method: :get, html: { id: "formPesquisa" } do %>
        <p>
          <%= text_field_tag :code, nil,
            class: 'simple-form',
            placeholder: 'Código',
            autocomplete: 'off',
            maxlength: 8,
            style: 'width:138px;',
            oninput: "this.value = this.value.toUpperCase();" %>
        </p>
        <p>
          <%= submit_tag 'Iniciar Pesquisa »',
            class: 'btn btn-sucess-geg',
            id: "lnkPesquisa" %>
        </p>
      <% end %>

      <br><br><br>

      <p style="font-size: 12px;">@ 2026 - Gente e Gestão</p>
    </div>
  </div>
</div>
