<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 text-center mx-auto">
      <h3>Pesquisa <%= @survey.code %> finalizada!</h3>
      <h2>&nbsp;</h2>
      <br>
      <h4 style="color: #5cb85c;"><strong>Obrigado por participar da pesquisa!</strong></h4>
      <p>Pronto! Agora você já pode fechar esta janela.</p>
      <br>
      <p>Ou caso tenha outros colaboradores, pode-se iniciar outra pesquisa clicando no botão abaixo</p>
      <p>
        <%= link_to "INICIAR NOVA PESQUISA >>", root_path, class: 'btn btn-sucess-geg' %>
      </p>
      <br>
      <br>
      <br>
      <p style="font-size: 12px;">@ 2025 - Gente e Gestão</p>
    </div>
  </div>
</div>
